.tableGrid {
	display: grid;
	grid-template-columns: repeat(var(--table-columns), 1fr);
	column-gap: var(--ax-space-40);
	row-gap: var(--ax-space-32);
	align-items: start;
}

@media (max-width: 1280px) {
	.tableGrid {
		grid-template-columns: 1fr;
	}
}
