# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
    replaces-base: true

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      actions-minor-patch:
        applies-to: version-updates
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /
    registries:
      - npm-github
    schedule:
      interval: daily
    groups:
      npm-minor-patch:
        applies-to: version-updates
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /apps/intern
    registries:
      - npm-github
    schedule:
      interval: daily
    groups:
      npm-minor-patch:
        applies-to: version-updates
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /packages/api
    registries:
      - npm-github
    schedule:
      interval: daily
    groups:
      npm-minor-patch:
        applies-to: version-updates
        patterns:
          - '*'
        update-types:
          - minor
          - patch
