strict-peer-dependencies=true

@navikt:registry=https://npm.pkg.github.com

public-hoist-pattern[]=eslint*
public-hoist-pattern[]=prettier*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=vitest
public-hoist-pattern[]=@vitest/*
public-hoist-pattern[]=vite
public-hoist-pattern[]=@vitejs/*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=@navikt/*
