@import '../../styles/global.module.css';

.headerRow th {
	background-color: var(--ax-bg-meta-purple-softA);
}

.table {
	border: 1px solid var(--ax-border-neutral-subtle);
}

.table th,
.table td {
	padding: 8px;
}

.table th + th,
.table td + td {
	border-left: 1px solid var(--ax-border-neutral-subtle);
}

.table tbody tr:nth-child(even) {
	background-color: var(--ax-bg-raised);
}
