.beregning {
	flex: 1;
	min-height: 100%;
	background-color: var(--a-bg-subtle);
	padding: var(--ax-space-48);
	box-sizing: border-box;
	overflow-y: auto;
}

.tables {
	display: flex;
	gap: var(--ax-space-40);
}

.tables > * {
	flex: 1;
}

.tableRow {
	align-items: flex-start;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
