.headerRow th {
	background-color: var(--ax-bg-meta-purple-softA);
}

.table {
	border: 1px solid var(--ax-border-neutral-subtle);
}

.table th + th,
.table td + td {
	border-left: 1px solid var(--ax-border-neutral-subtle);
}
