.pesysHeader {
	padding: 0 var(--ax-space-24);
}

.title {
	font-size: var(--ax-font-size-heading-xlarge);
	line-height: var(--ax-font-line-height-heading-large);
	padding-top: var(--ax-space-4);
	padding-bottom: var(--ax-space-4);
}
