@import '../../styles/global.module.css';

.gjenlevenderettSection {
	padding-left: var(--ax-space-24);
}

.opplysningerOmEPSInfo {
	margin: var(--ax-space-8) 0 var(--ax-space-16) 0;
}

.epsSubmitButton {
	margin-top: var(--ax-space-16);
}

.customErrorMessage {
	margin-top: var(--ax-space-8);
}
